.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border-radius: 2%;
    width: 66vh;
    height: 80vh;
    display: flex;
    margin-top: 10vh;
    filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.5));
}

.logo{
    width: 36vh;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
}

label{
    color: rgba(194, 194, 194, 0.884);
}

.input{
    height: 6vh;
}

.boxUser{
    width: 40vh;
    margin: 0 0 0 12.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxPassword{
    width: 40vh;
    margin: 0 0 0 12.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.btn{
    width: 22vh;
    height: 7vh;
    margin: 4vh 0 0 21vh;
    font-size: 3vh;
    padding:  1vh 0 0 0;
    color: rgba(255, 255, 255, 1);
    border-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    opacity: 0.9;
    color: rgba(255, 255, 255, 0.8);
}


@media screen and (min-width: 200px) and (max-width:1000px){

    .box{
        border-radius: 2%;
        width: 40vh;
        height: 58vh;
        display: flex;
        margin-top: 12vh;
        padding-top: 4vh;
        filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.5));
    }

    .logo{
        padding-bottom: 5vh;
        width: 24vh;
    }


    label{
        font-size: 2.4vh;
        color: rgba(194, 194, 194, 0.884);
    }

    input{
        height: 4.4vh;
    }

    input:hover{
        font-size: 2vh;
    }



    .boxUser{
        width: 34vh;
        margin: 0 auto 0 2.8vh;
    }

    .boxPassword{
        width: 34vh;
        margin: 0 auto 0 2.8vh;
    }


    .btn{
        width: 22vh;
        height: 6.4vh;
        font-size: 2.6vh;
        margin: 4vh 0 0 8.6vh;
        border-radius: 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn:hover{
        opacity: 0.9;
        color: rgba(255, 255, 255, 0.8);
    }
}